.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #222;
  color: white;

  padding: 50px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-inputs {
  font-size: 1.5em;
}

.App-tile {
  height: 100%;
  background: #111;
}
